body {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 50px;
  border: 1px solid black;
  padding: 15px;
}

.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
}